@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.heading-primary {
  font-family: "Markazi Text", "Times New Roman", Times, serif;
  font-size: 64px;
  font-weight: 500;
}

.heading-secondary {
  font-family: "Markazi Text", "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 500;
}

.main-subhead {
  color: #fff;
  font-family: "Markazi Text", "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

/********GENERAL*********/
.br-16 {
  border-radius: 1.6rem;
}
.center {
  text-align: center;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-start {
  align-self: start;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.yellow-btn {
  background-color: #f4ce14;
  border: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.yellow-btn:hover {
  background-color: #fbbf24;
}

/*********** MAIN NAVIGATION ***********/

.main-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem 4.8rem;
  padding: 2.4rem 9.6rem;
  width: 100%;
}

.main-nav-list {
  display: flex;
  gap: 2.4rem 4.8rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.3s;
  text-transform: uppercase;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #495e57;
}

/*********** MOBILE NAVIGATION ***********/

.mobile-nav {
  display: none;

  /* position: fixed;
  top: 0;
  
  width: 100vw; */
  /* transition: 0.4s ease-out;
  z-index: 2; */
}

.mobile-overlay .overlay-close {
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-overlay {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100vh;
  width: 100vw;
  transition: 0.4s ease;
  z-index: 5;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  list-style: none;
}

.mobile-nav-link:link,
.mobile-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.3s;
  text-transform: uppercase;
}

.mobile-nav-link:hover,
.mobile-nav-link:active {
  color: #edefee;
}

/* NAV ANIMATION */
.openNav {
  -webkit-animation: openNav 0.5s cubic-bezier(0.42, 0.25, 0.58, 0.1) both;
  animation: openNav 0.5s cubic-bezier(0.42, 0.25, 0.58, 1) both;
}

@-webkit-keyframes openNav {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

@keyframes openNav {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

/***** HERO SECTION *****/
.hero-section .heading-primary {
  color: #f4ce14;
}

.hero-section {
  background-color: #495e57;
  padding: 9.6rem;
}

.hero-wrapper {
  align-items: start;
  gap: 4.8rem 9.6rem;
}

.hero-text {
  flex-direction: column;
}

.hero-description {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  /* width: 60%; */
}

.hero-img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 50rem;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

/*********** SPECIALS SECTION ***********/
.specials-section {
  padding: 9.6rem;
}

.specials-heading {
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.card-columns-container {
  gap: 6.4rem;
}

.card {
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  -webkit-box-shadow: 12px 12px 24px #b2b8c9a1, -12px -12px 24px #f0f8ff;
  box-shadow: 8px 8px 24px #b2b8c9a1, -12px -12px 24px #e7e7e77a;
  overflow: hidden;
}

.card-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.card-content {
  background-color: #edefee;
  padding: 2.4rem;
}

.card-heading {
  justify-content: space-between;
  gap: 3.2rem;
}

.card-subhead {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.card-price {
  color: #ee9972;
  font-weight: 700;
  font-size: 1.6rem;
}

.card-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.card-icon {
  color: #333;
  height: 2rem;
  width: 2rem;
}

.card-btn {
  border: none;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  transition: all 0.3s;
}

/*********** TESTIMONIAL SECTION ***********/

.testimonial-section {
  background-color: #edefee;
  padding: 9.6rem;
  height: 100%;
}

.testimonial-wrapper {
  flex-direction: column;
}

.testimonial-heading {
  align-self: center;
  margin-bottom: 9.6rem;
}

.rating-icons {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.star-icon {
  color: #f4ce14;
  height: 1.6rem;
  width: 1.6rem;
}

.testimonials-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.6rem;
}

.testimonial {
  display: flex;
  flex-direction: column;

  background: #fff;
  -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9a1, -12px -12px 24px #e7e7e77a;
  color: #334155;
  margin: 0 auto;
  padding: 1.6rem;
  width: 26rem;
}

.review {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.8rem;
}

.testimonial-img {
  border-radius: 50%;
  object-fit: cover;
  height: 5.4rem;
  width: 5.4rem;
}

.tagline-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.testimonial-tagline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}

/***** ABOUT SECTION *****/
.about-section .main-subhead {
  color: #333;
}

.about-section {
  background-color: #fff;
  padding: 9.6rem;
}

.about-wrapper {
  align-items: start;
  gap: 9.6rem;
}

.about-text {
  flex-direction: column;
}

.about-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.about-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/*********** BOOKING SECTION ***********/
.booking-section .heading-primary {
  color: #fff;
}

.booking-section {
  height: 100%;
  background-image: url("../src/images/table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  padding: 4.8rem;
}

label {
  color: #333;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-bottom: 1rem;
}

.booking-form {
  width: 36rem;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 1.6rem;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  padding: 2.4rem;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#res-date,
#res-time,
#guests,
#occasion {
  background: #fff;
  border: 1px solid #edefee;
  border-radius: 0.8rem;
  display: block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-bottom: 2.4rem;
  width: 100%;
  transition: border 256ms ease-in-out;
}

.booking-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.05rem #64748b;
}

input::placeholder,
textarea::placeholder {
  color: #333;
  font-size: 1.6rem;
}

.submit-btn {
  backdrop-filter: blur(5px);
  background: -webkit-linear-gradient(to bottom, #f4ce14, #f59e0b);
  background: -moz-linear-gradient(to bottom, #f4ce14, #f59e0b);
  background: linear-gradient(to bottom, #f4ce14, #f59e0b);
  border-radius: 0.8rem;
  border: none;
  color: #fcfcff;
  cursor: pointer;
  display: inline-block;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.4rem 2rem;
  width: 100%;
  transition: all 0.3s;
}

.submit-btn:hover {
  background: -webkit-linear-gradient(top, #fbbf24, #f59e0b);
  background: -moz-linear-gradient(top, #fbbf24, #f59e0b);
  background: linear-gradient(to bottom, #fbbf24, #f59e0b);
}

.reservation-description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 1.6rem;
}

/*********** CONFIRMATION SECTION ***********/
.confirmation-section {
  background-color: #f4ce14;
  padding: 9.6rem;
}

/*********** EMPTY PAGES ***********/
.order-section,
.menu-section,
.login-section {
  background-color: #f4ce14;
  padding: 9.6rem;
}

/***** FOOTER *****/
footer {
  background: #333;
  height: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 64px;
  padding: 4.8rem;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 3.2rem; */
  width: 11rem;
}

.footer-logo-container {
  margin-bottom: 1.6rem;
  margin-bottom: 2.4rem;
}

.footer-logo-link:link,
.footer-logo-link:visited {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

.footer-subhead {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 1.6rem;
  list-style: none;
  text-decoration: none;
  padding-bottom: 0.4rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  border-bottom-color: #fff;
}

.contacts {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.address-line-1 {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address-line-2 {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.social-icons {
  display: flex;
  column-gap: 24px;
  list-style: none;
  margin-bottom: 2.4rem;
}

.social-icon {
  color: #fff;
  height: 2.6rem;
  width: 2.6rem;
}

.social-link {
  display: inline-block;
}
